@use './variables' as *;

//responsive design mixins
@mixin tablet {
    @media screen and (min-width: $bp-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $bp-desktop) {
        @content;
    }
}

//font mixins
@mixin archivo {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@mixin archivo-black {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@mixin archivo-narrow {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 87.5;
}

//border mixins
@mixin section-border-bottom {
    border-bottom: solid 0.25rem rgb(180, 180, 180);
}